{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": 16
                }
            }
        ],[
            "@babel/preset-typescript",
            {
                "isTSX": true,
                "allExtensions": true
            }
        ]
    ]
}